Repository natura-cosmeticos/natds-rn, pull requests merged in 2020-08, with the labels that each got.

#56 [DSY-623] feat: add tab component
  lib/components/TabBar/TabBar.styles.ts
  lib/components/TabBar/TabBar.test.tsx
  lib/components/TabBar/TabBar.tsx
  lib/components/TabBar/__snapshots__/TabBar.test.tsx.snap
  lib/components/TabBar/index.ts
  lib/index.ts
  src/common/themeSelectors/colors/colors.ts
  src/common/themeSelectors/theme/mock-theme.json
  src/common/themeSelectors/theme/theme.ts
  src/components/Tab/Tab.device.tsx
  src/components/Tab/Tab.stories.tsx
  src/components/Tab/Tab.styles.tsx
  src/components/Tab/Tab.test.tsx
  src/components/Tab/Tab.tsx
  src/components/Tab/__snapshots__/Tab.test.tsx.snap
  src/components/Tab/index.ts
  src/components/index.ts
  storybook/stories/StoryTabBar/StoryTabBar.test.tsx
  storybook/stories/StoryTabBar/StoryTabBar.tsx
  storybook/stories/StoryTabBar/__snapshots__/StoryTabBar.test.tsx.snap
  storybook/stories/StoryTabBar/index.ts
  storybook/stories/index.tsx
  storybook/storyLoader.ts
Labels: component: Tab, enhancement

#61 [DSY-854] Component | Progress Indicator | Circular [RN]
  lib/components/NatLoading/NatLoading.styles.ts
  lib/components/NatLoading/NatLoading.test.tsx
  lib/components/NatLoading/NatLoading.tsx
  lib/components/NatLoading/__snapshots__/NatLoading.test.tsx.snap
  lib/components/NatLoading/index.ts
  lib/index.ts
  src/components/ProgressIndicator/CircularProgress/CircularProgress.styles.ts
  src/components/ProgressIndicator/CircularProgress/CircularProgress.test.tsx
  src/components/ProgressIndicator/CircularProgress/CircularProgress.tsx
  src/components/ProgressIndicator/CircularProgress/__snapshots__/CircularProgress.test.tsx.snap
  src/components/ProgressIndicator/ProgressIndicator.device.tsx
  src/components/ProgressIndicator/ProgressIndicator.stories.tsx
  src/components/ProgressIndicator/ProgressIndicator.test.tsx
  src/components/ProgressIndicator/ProgressIndicator.tsx
  src/components/ProgressIndicator/__snapshots__/ProgressIndicator.test.tsx.snap
  src/components/ProgressIndicator/index.ts
  src/components/index.ts
  storybook/storyLoader.ts
Labels: component: Progress Indicator

#64 [DSY-1296] Component | Selection Control | Radio [RN]
  src/components/RadioButton/RadioButton.device.tsx
  src/components/RadioButton/RadioButton.stories.tsx
  src/components/RadioButton/RadioButton.styles.tsx
  src/components/RadioButton/RadioButton.test.tsx
  src/components/RadioButton/RadioButton.tsx
  src/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/components/RadioButton/index.ts
  src/components/TouchableRipple/TouchableRipple.styles.tsx
  src/components/TouchableRipple/TouchableRipple.test.tsx
  src/components/TouchableRipple/TouchableRipple.tsx
  src/components/TouchableRipple/__snapshots__/TouchableRipple.test.tsx.snap
  src/components/TouchableRipple/index.ts
  src/components/index.ts
  storybook/storyLoader.ts
Labels: Component: Radio Button

#69 [DSY-839] feat(card): add new Card component
  lib/components/NatCard/NatCard.styles.ts
  lib/components/NatCard/NatCard.test.tsx
  lib/components/NatCard/NatCard.tsx
  lib/components/NatCard/__snapshots__/NatCard.test.tsx.snap
  lib/components/NatCard/index.ts
  lib/index.ts
  src/components/Card/Card.device.tsx
  src/components/Card/Card.stories.tsx
  src/components/Card/Card.test.tsx
  src/components/Card/Card.tsx
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/Card/index.ts
  src/components/index.ts
  storybook/stories/StoryNatCard/StoryNatCard.test.tsx
  storybook/stories/StoryNatCard/StoryNatCard.tsx
  storybook/stories/StoryNatCard/__snapshots__/StoryNatCard.test.tsx.snap
  storybook/stories/StoryNatCard/index.ts
  storybook/stories/index.tsx
  storybook/storyLoader.ts
Labels: component: Card

#70 [DSY-848] feat: add IconButton and Icon components
  .gitignore
  android/app/src/main/assets/fonts/natds-icons.ttf
  android/app/src/main/assets/fonts/natds-icons.woff
  android/app/src/main/assets/fonts/natds-icons.woff2
  ios/NaturaReactComponents/Info.plist
  package.json
  src/components/Icon/Icon.device.tsx
  src/components/Icon/Icon.stories.tsx
  src/components/Icon/Icon.test.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/Icon/index.ts
  src/components/IconButton/IconButton.device.tsx
  src/components/IconButton/IconButton.stories.tsx
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  src/components/IconButton/index.ts
  src/components/TouchableRipple/TouchableRipple.styles.tsx
  src/components/TouchableRipple/TouchableRipple.tsx
  storybook-web/preview-head.html
  storybook/storyLoader.ts
  yarn.lock
Labels: component: Icon, component: IconButton
